.bg-img{
    position: relative;
}
.info{
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
    height: 210px;
    width: 80%;
    background-color: hsla(0, 0%, 5%, 0.461);
    padding: 10px;
    border-radius: 30px;
}
.info p{
    text-align: justify;
    text-transform: capitalize;
    font-weight: 400;
}
.enquiry-model{
    background-color: hsla(0, 0%, 5%,  0.661) !important ;

}
.commonBg{
    background-color: hsla(0, 0%, 5%,  0.661) !important ;

}